<div class="example-container">
    <div layout="row" layout-align="space-between center" flex
        class="layout-align-space-between-center layout-row flex">
        <button mat-raised-button color="primary" (click)="downloadPDF()">PDF</button>
    </div>

    <br />

    <!--<mat-spinner *ngIf="isLoading"></mat-spinner>-->

    <div layout="column" layout-fill id="contentToConvert">
        <div align="center" layout="row" flexlayout-align="space-between center">

            <table mat-table class="mat-elevation-z8 table-header-one" multiTemplateDataRows>

                <!-- Header Logo -->
                <ng-container matColumnDef="logo">
                    <th mat-header-cell class="header-logo" *matHeaderCellDef [attr.rowspan]="2"> LOGO </th>
                </ng-container>

                <!-- Header Title -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell id="head-title" *matHeaderCellDef [attr.colspan]="6"> PROGRAMAÇÃO SEMANAL </th>
                </ng-container>

                <!-- Header Client -->
                <ng-container matColumnDef="client">
                    <th mat-header-cell class="client" *matHeaderCellDef [attr.colspan]="4"> CONTRATANTE </th>
                </ng-container>

                <!-- Header Company -->
                <ng-container matColumnDef="company">
                    <th mat-header-cell class="company" *matHeaderCellDef [attr.colspan]="4"> CONTRATADA </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['logo', 'title']"></tr>
                <tr mat-header-row *matHeaderRowDef="['company', 'client']"></tr>
            </table>

            <br />

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Local Column -->
                <ng-container matColumnDef="Local">
                    <th mat-header-cell *matHeaderCellDef> Local </th>
                    <td mat-cell *matCellDef="let element"> {{element.local}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Activity Column -->
                <ng-container matColumnDef="Atividade">
                    <th mat-header-cell *matHeaderCellDef> Atividade </th>
                    <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Leader Column -->
                <ng-container matColumnDef="Encarregado">
                    <th mat-header-cell *matHeaderCellDef> Encarregado </th>
                    <td mat-cell *matCellDef="let element"> {{element.leader}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <div *ngFor="let head of headers">

                    <!-- Monday Column -->
                    <ng-container [matColumnDef]="head.key">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="headInnerLine">
                                <div> {{ head.header1 }} </div>
                                <div> {{ head.header2 }} </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="innerLine">
                                <div> {{ element[head.cell].planned }} </div>
                                <div> {{ element[head.cell].executed }} </div>
                            </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                </div>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

            </table>
        </div>
    </div>

</div>