table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.250);
  }
  
  .table-header-one th{
    padding: 8px;
    margin: 10px;
    border: solid 1px rgba(0, 0, 0, 0.250);
    margin-left: 10px;
    background-color: white;
    font-weight: bolder;
  } 
  
  .table-header-two th {
    background-color:lightgray;
    border: solid 1px rgba(0, 0, 0, 0.250);
    font-weight: bolder;
    text-align: center;
    padding: 4px;
  }

  .table-header-two td {
    border-right: 1px solid rgba(0,0,0,.12);
    margin-left: 5px;
    padding: 4px;
  }

  .wrapper {
    display: grid;
    grid-template-rows: minmax(28.5px, 1fr) 1fr 1fr;

  }
  .wrapper div {
    padding: 4px;
  }

  .innerRow1 {
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-weight: bolder;
    color: darkblue;
  }

  .innerRow2 {
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-weight: bolder;
    color: seagreen;
  }