#cable-stayed,
#self-supporting {
    min-width: 90px;
    padding: 0;
    margin: 0;
}

.noActivities {
    fill: white;
    color: black;
}

.locacao {
    fill: cyan;
    color: #000;
}

.escavacao {
    fill: sienna;
    color: #000;
}

.concreto {
    fill: slategrey;
    color: #000;
}

.ancoragem {
    fill: chocolate;
    color: #000;
}