table {
    width: 100%;
  }
  
  .example-first-header-row th {
    border-color: darken($color: #000000, $amount: 0);
  }
  
  .example-second-header-row {
    border-color: darken($color: #000000, $amount: 0);
  }
  
  .example-third-header-row {
    font-style: normal;
  }

  