<div class="example-container">
  <div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Towers">
    </mat-form-field>&nbsp;&nbsp;

    <button mat-mini-fab  color="primary" matTooltip="Add a Tower">
      <mat-icon [routerLink]="['/building-list/create']" aria-label="add tower">add</mat-icon>
    </button>
      <app-filereader (data)="receiverData($event)"></app-filereader>
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="space-between center">
    <table fxFlex mat-table [dataSource]="dataSource" matSort matSortActive="id" class="mat-elevation-z8">

      <!-- Project Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>

      <!-- Tower Column -->
      <ng-container matColumnDef="tower">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Torre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Height Column -->
      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Altura </th>
        <td mat-cell *matCellDef="let element"> {{element.height}} </td>
      </ng-container>

      <!-- Forward Column -->
      <ng-container matColumnDef="vao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vão </th>
          <td mat-cell *matCellDef="let element"> {{element.forward}} </td>
        </ng-container>

      <!-- Coords Column -->
      <ng-container matColumnDef="coords">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coordenadas </th>
        <td mat-cell *matCellDef="let element"> {{element.coords.coordinates}} </td>
      </ng-container>

      <!-- Locality Column -->
      <ng-container matColumnDef="locality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidade </th>
        <td mat-cell *matCellDef="let element"> {{element.locality}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.released}} </td>
      </ng-container>

      <!-- Foundation MC Column -->
      <ng-container matColumnDef="found_MC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND-MC </th>
        <td mat-cell *matCellDef="let element"> {{element.foundation_MC}} </td>
      </ng-container>

      <!-- Foundation A Column -->
      <ng-container matColumnDef="found_A">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND-A </th>
        <td mat-cell *matCellDef="let element"> {{element.foundation_A}} </td>
      </ng-container>

      <!-- Foundation B Column -->
      <ng-container matColumnDef="found_B">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND-B </th>
        <td mat-cell *matCellDef="let element"> {{element.foundation_B}} </td>
      </ng-container>

      <!-- Foundation C Column -->
      <ng-container matColumnDef="found_C">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND-C </th>
        <td mat-cell *matCellDef="let element"> {{element.foundation_C}} </td>
      </ng-container>

      <!-- Foundation D Column -->
      <ng-container matColumnDef="found_D">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FUND-D </th>
        <td mat-cell *matCellDef="let element"> {{element.foundation_D}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" matTooltip="edit a contact">
            <mat-icon (click)="editContact(element)" aria-label="edit contact">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteResource(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator 
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  ></mat-paginator>
  
</div>
