<div class="example-container">
    <div layout="row" layout-align="space-between center" flex
        class="layout-align-space-between-center layout-row flex">

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="data" [value]="date.value" (dateChange)="changeDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <button mat-raised-button color="primary" style="margin-left: 15px;" (click)="downloadPDF()">PDF</button>
    </div>

    <br />

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div layout="column" layout-fill id="contentToConvert">
        <div align="center" layout="row" flexlayout-align="space-between center">

            <table mat-table class="mat-elevation-z8 table-header-one" multiTemplateDataRows>

                <!-- Header Logo-Client -->
                <ng-container matColumnDef="logo-client">
                    <th mat-header-cell class="header-logo" *matHeaderCellDef [attr.rowspan]="4"> Logo Client </th>
                </ng-container>

                <!-- Header Title -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell id="head-title" *matHeaderCellDef [attr.colspan]="8"> PROGRAMAÇÃO DIARIA DE
                        SERVIÇO </th>
                </ng-container>

                <!-- Header Logo -->
                <ng-container matColumnDef="logo">
                    <th mat-header-cell class="header-logo" *matHeaderCellDef [attr.rowspan]="4"> Logo </th>
                </ng-container>

                <!-- Header Project -->
                <ng-container matColumnDef="name-project">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="8">
                        <mat-label>Obra: </mat-label>
                        <mat-select>
                            <mat-option value="LOTE 16">
                                LOTE 16
                            </mat-option>
                        </mat-select>
                    </th>
                </ng-container>

                <!-- Header Company -->
                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="8">
                        <mat-label>Construtora: </mat-label>
                        <input matInput placeholder="Construtora" disabled value="TMGBA">
                    </th>
                </ng-container>

                <!-- Header Client -->
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="7">
                        <mat-label>Cliente: </mat-label>
                        <input matInput placeholder="Cliente" disabled value="EQUATORIAL">
                    </th>
                </ng-container>

                <!-- Header Emission -->
                <ng-container matColumnDef="emission">
                    <th mat-header-cell id="emission" *matHeaderCellDef [attr.colspan]="1">
                        Emissão: {{ emission }}
                    </th>
                </ng-container>

                <!-- Header Weather -->
                <ng-container matColumnDef="weather">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="12"> Tempo: </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['logo-client', 'title', 'logo']"></tr>
                <tr mat-header-row *matHeaderRowDef="['name-project']"></tr>
                <tr mat-header-row *matHeaderRowDef="['company']"></tr>
                <tr mat-header-row *matHeaderRowDef="['client', 'emission']"></tr>
                <tr mat-header-row *matHeaderRowDef="['weather']"></tr>
            </table>

            <br />

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Activity Column -->
                <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef> Atividade </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    <td mat-footer-cell *matFooterCellDef colspan="10">
                        <mat-form-field>
                            <textarea matInput placeholder="Comentários:"></textarea>
                        </mat-form-field>
                    </td>
                </ng-container>

                <!-- Unity Column -->
                <ng-container matColumnDef="unity">
                    <th mat-header-cell *matHeaderCellDef> Unidade </th>
                    <td mat-cell *matCellDef="let element"> {{element.unity}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Foreseen Column -->
                <ng-container matColumnDef="foreseen">
                    <th mat-header-cell *matHeaderCellDef> Previsto </th>
                    <td mat-cell *matCellDef="let element"> {{element.foreseen}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- inDay Column -->
                <ng-container matColumnDef="inDay">
                    <th mat-header-cell *matHeaderCellDef> No Dia </th>
                    <td mat-cell *matCellDef="let element"> {{element.inDay}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Previous Column -->
                <ng-container matColumnDef="previous">
                    <th mat-header-cell *matHeaderCellDef> Anterior </th>
                    <td mat-cell *matCellDef="let element"> {{element.previous}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Current Column -->
                <ng-container matColumnDef="current">
                    <th mat-header-cell *matHeaderCellDef> Atual </th>
                    <td mat-cell *matCellDef="let element"> {{element.current}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Accumulated Column -->
                <ng-container matColumnDef="accumulated">
                    <th mat-header-cell *matHeaderCellDef> Acumulado </th>
                    <td mat-cell *matCellDef="let element"> {{element.accumulated}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- notExecuted Column -->
                <ng-container matColumnDef="notExecuted">
                    <th mat-header-cell *matHeaderCellDef> À Executar </th>
                    <td mat-cell *matCellDef="let element"> {{element.notExecuted}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Executed Column -->
                <ng-container matColumnDef="executed">
                    <th mat-header-cell *matHeaderCellDef> Executado: {{ dateExecuted }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.executed}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Planned Column -->
                <ng-container matColumnDef="planned">
                    <th mat-header-cell *matHeaderCellDef> Planejado: {{ emission }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.planned}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Leader Column -->
                <ng-container matColumnDef="leader">
                    <th mat-header-cell *matHeaderCellDef> Encarregado </th>
                    <td mat-cell *matCellDef="let element"> {{element.leader}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="example-first-header-row"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

            </table>
        </div>
    </div>

</div>