<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>admin@email.com</h4>
        </div>
        <img src="../../../../assets/img/wolv.jfif" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/productions-list">
        <mat-icon>list</mat-icon>
        Lista Produções
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pds">
        <mat-icon>list</mat-icon>
        PDS
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/building-list">
        <mat-icon>list</mat-icon>
        Lista Construção
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/activities-list">
        <mat-icon>list</mat-icon>
        Atividades
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leaders-list">
        <mat-icon>list</mat-icon>
        Encarregados
    </a>

    <mat-divider></mat-divider>

</mat-nav-list>