<h3 mat-dialog-title>{{ title }}</h3>

<mat-accordion class="example-headers-align">

  <!-- List Form inside Expansion Panel Personal -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lista
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-list-forms [form]="form" ></app-list-forms>

  </mat-expansion-panel>

  <div class="top-15" align="end">
    <button mat-raised-button (click)="close()">Close</button>&nbsp;
    <button class="btn-success" mat-raised-button [disabled]="!form.valid || !form.dirty"
      (click)="save()">Save</button>
  </div>

</mat-accordion>
