<div class="example-container">
  <div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Leaders">
    </mat-form-field>&nbsp;&nbsp;

    <button mat-mini-fab color="primary" matTooltip="Add a Leader">
      <mat-icon [routerLink]="['/leaders-list/create']" aria-label="add leader">add</mat-icon>
    </button>
    <app-filereader (data)="receiverData($event)"></app-filereader>
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">
    <table fxFlex mat-table [dataSource]="dataSource" matSort matSortActive="id" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Office Column -->
      <ng-container matColumnDef="Occupation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Função </th>
        <td mat-cell *matCellDef="let element"> {{element.office}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary">
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" matTooltip="edit a leader">
            <mat-icon (click)="editLeader(element)" aria-label="edit leader">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteResource(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator 
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  ></mat-paginator>
  
</div>

