<form [formGroup]="form">

  <mat-form-field class="full-width">
    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Informe a data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Atividade</mat-label>
    <select matNativeControl required formControlName="activity">
      <option *ngFor="let activity of activities" [value]="activity">{{ activity }}</option>
    </select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Torre</mat-label>
    <select matNativeControl required formControlName="tower">
      <option *ngFor="let tower of towers" [value]="tower">{{ tower }}</option>
    </select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Encarregado</mat-label>
    <select matNativeControl required formControlName="leader">
      <option *ngFor="let leader of leaders" [value]="leader">{{ leader }}</option>
    </select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Status</mat-label>
    <select matNativeControl required formControlName="status">
      <option *ngFor="let st of status" [value]="st">{{ st }}</option>
    </select>
  </mat-form-field>

</form>
